*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100%;
    width:100%;
    background:#00182e;
}
.container{
    
    padding:20px;
    gap:16px;
    margin:10px;
    display:grid;
    grid-template-areas:
        'Item-1 Item-1 Item-2'
        'Item-3 Item-4 Item-4'
        'Item-3 Item-5 Item-5'
    ;
    grid-template-columns:200px 90px 200px;
    grid-template-rows:210px 100px 100px;
    justify-content:center;
     
}
.Item-1,.Item-2, .Item-3, .Item-4, .Item-5{
    color:#fff;
    padding:10px;
  
    border:1px solid #2b2b2b;
   
}

.Item-1{
    grid-area:Item-1;
    background:#E35C1C;
}
.Item-2{
    grid-area:Item-2;
    background:orange;
}
.Item-3{
    grid-area:Item-3;
    background:#05aa42;
}
.Item-4{
    grid-area:Item-4;
    background:#229bdd;
}
.Item-5{
    grid-area:Item-5;
    background:#229bdd;
}
@media only screen and (max-width: 600px) {
    .container{
        padding:20px;
        gap:16px;
        margin:8px;
        display:grid;
        
        *grid-template-areas:
            'Item-1 Item-1 Item-1'
            'Item-2 Item-2 Item-2'
            'Item-3 Item-3 Item-3'
            'Item-4 Item-4 Item-4'
            'Item-5 Item-5 Item-5'
        ;
        grid-template-columns:150px 65px 150px;
        grid-template-rows:180px 75px 75px;
        justify-content:center;
    }
}
a{
    margin:30px;
    color:#fff;
}